
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#view_log_back {
    height: 80vh;
    width: 100vw;
    background-color:#B2B0AC;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 4em;
    text-align: right;
    overflow-y: auto;
}

#screen_container {
    height: 10vh;
    width: 100vw;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 4em;
    background-color: #1E97FF;
    color: white;
}

#screen {
    position: absolute;
    top: 1vh;
    right: 0;
}

#total {
    font-family: 'Quattrocento Sans', sans-serif;
    height: 10vh;
    color: black;
    text-align: right;
    font-size: 3em;
}

#log li {
    color:green;
}

#log .red {
    color:red;
}

div#view_log_back  div#container {
    font-size: 14px;
    position: absolute;
    top: 10vh;
    text-align:left;
    background-color: lightgray;
}

